<div class="col-10 offset-1 about">
  <h1> About Splurty </h1>

  <p>
    Splurty was built by Drew Moore, an aspiring software engineer and Firehose Project student with the dream of being able to turn creative ideas into real apps and websites. 
  </p>
  <br />
  <p>
    Drew has a BS degree in Biology from the University of Oregon, and at the time of writing this, is in the middle of an important and transformational career change he hopes will open many more doors for him. 
  </p>
</div>

<div class="row about">
  <div class="col-12 col-sm-4">
    <%= image_tag 'drew.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center"> Drew Moore </h2>
    <br />
    <p>
      Drew Moore is currently living in Northern California with his beautiful wife Sarah and their two crazy bengal cats, Liam and Kiba. In his free time, Drew enjoys working out and playing guitar. 
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
