<div class=" contact-box col-8 offset-2 contact_me">
  <h1> Let me know what you think! </h1>
    <br />
    <h3> Type your comments in the box below: </h3>
    <%= simple_form_for 
     
    <br />
    <br />
  </div>

</div>

